src/main/mule/myproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="53a9d39c-7af7-4690-81e5-aa791cb0523c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myprojectFlow" doc:id="dd7b8330-6835-41de-abe9-a7fea0b2311c" >
		<http:listener doc:name="Listener" doc:id="836952e6-5065-465b-973d-febfdfa9a0c9" config-ref="HTTP_Listener_config" path="/myproject"/>
		<set-payload value='#["step1"]' doc:name="Set Payload" doc:id="f67b50c7-ca71-4cfa-952b-bb9ce20781b4" />
	</flow>
</mule>
